html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
    background-color: #E0E0E0;
}

header {
    height: 120px;
    background-color: #00796B;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table * {
    text-align: right;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #80CBC4;
    border-radius: 8px;
    box-sizing: border-box;
    color: #00796B;
    outline: none;
    text-align: left;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

input[type=submit]{
    width: 70%;
    background-color: #00796B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #00BFA5;
    box-shadow: 0 10px 10px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22);
    color: #000000;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #80CBC4;
    border: 4px solid #00796B;
    color: #000000;
}

textarea {
    width: 100%;
    font-size: 17px;
    font-family: Thoma;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #80CBC4;
    border-radius: 8px;
    box-sizing: border-box;
    color: #00796B;
    outline: none;
    resize: none;
    text-align: left;
}

textarea:focus {
    background-color: #80CBC4;
    border: 4px solid #00796B;
    color: #000000;
}

main {
    margin-bottom: 70px;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.disabled {
   pointer-events: none;
   cursor: default;
   user-select: none;
}


hr{
    display: block;
    margin-top: 2em;
    width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.name {
    font-size: 8pt;
}

.comment {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.likes {
    width: auto;
    font-size: 24pt;
    text-align: right;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.likes:hover {
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.actions {
    cursor: default;
    font-size: 18pt;
    width: 100%;
    display: table;
    table-layout: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.action {
    display:table-cell;
    vertical-align:middle;
    padding: 10px;
    text-align:right;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.new-post-title {
    width: 100%;
    font-size: 20px;
    padding: 2px;
}

.new-post-text {
    width: 100%;
    height: 200px;
    font-size: 17px;
    font-family: Thoma;
}

.submit-post {
    margin-left: 20px !important;
    width: 30% !important;
}

.main-title {
    text-decoration: none;
    color: #0C0000;
    font-size: 32pt;
}

.art-date {
    font-size: 9pt;
    text-align: right;
    font-weight: 300;
}

.art-subject {
    font-weight: bold;
    font-size: 24pt;
}

.art-content {
    font-size: 11pt;
    text-align: justify;

    display: block;
    display: -webkit-box;
    max-width: 90%;
    height: 90%;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big-art-content {
    font-size: 11pt;
    text-align: justify;

    display: block;
    display: -webkit-box;
    max-width: 90%;
    height: 90%;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-small {
    background: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    margin: 10px auto;
    max-height: 550px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-small:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-big {
    background: #FFFFFF;
    border-radius: 0 0 8px 8px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-post {
    background: #FFFFFF;
    padding: 20px;
    font-size: 20pt;
    text-align: center;
    border-width: 10px;
    border-color: #00796B;
    border-style: double;
    color: #00796B;
}

.new-comment {
    float: right;
    width: 20% !important;
}

.open-post {
    text-decoration: none;
}

.open-post:hover {
    text-decoration: none;
}

.new-post {
    text-decoration: none !important;
}

.error {
    color: red;
}

.individual-title {
    background: #00796B;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.content {
    background-color: #E0F2F1;
    text-align: center;
    margin-top: 50px;
    border-radius: 8px;
    padding: 0;
}

.box-shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.message {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.welcome {
    color: #FFFFFF;
}

.logout {
    color: #FFFFFF;
}

.logout:hover {
    color: #A0A0A0;
}

.title {
    font-size: 36pt;
    color: #FFFFFF;
    padding-top: 10px;
}

.logo {
    padding: 0;
    height: 100px;
}

.table-text {
    font-size: 18pt;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #004D40;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav h2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16pt;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidenav p:hover, .offcanvas p:focus{
    color: #818181;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav p {font-size: 12pt;}
}

.legend {
    font-size:30px;
    cursor:pointer;
    position: fixed;
    left: 0;
    top: 150px;
    writing-mode: tb-rl;
    padding: 10px 0 10px 0;
    color: #FFFFFF;
    background: #004D40;
}
