{% extends "index.html" %}
    {% block title %}{{content.subject}}{% endblock %}

    {% block content %}
    <div class="row">
        <div class="card-big">
            <div class="individual-title">
                <div class="art-subject col-lg-9">
                    {%if content.userid|string() == user.key().id()|string() %}
                        <a href="{{content.key().id()}}/delete">🗑️</a>
                        <a href="{{content.key().id()}}/edit">✏️</a>
                    {%endif%}
                    {{content.subject}}</div>
                <div class="art-date col-lg-3">
                    {{content.username}}
                    <br />
                    {{content.created}}
                </div>
            </div>
            <p class="big-art-content">
                {% for line in content.content.splitlines()%}
                    {{line}}<br />
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row">
        <h3 class="col-lg-10">Comments - 💬 {{content.comments|length}}</h3>
        <a href="/{{content.key().id()}}/like"
        class="col-lg-2
                {%if content.userid|string() == user.key().id()|string() %}
                    disabled"/>
                    <h2 class="likes" style="font-size: 12pt">You got {{content.likeslist|length}} like(s)</h2>
                {%else%}
                    "/>
                    {% if user.key().id() in content.likeslist %}
                        <h2 class="likes">💖{{content.likeslist|length}}</h2>
                    {% else %}
                        <h2 class="likes"><b style="font-size: 24pt">💔</b> {{content.likeslist|length}}</h2>
                    {% endif %}
                {% endif %}

        </a>
    </div>
    <a href="/#{{content.key().id()}}" style="color: white; padding: 10px; background-color: #00796B;">← Back to home page</a>
    <form method="post">
        <div class="row comment">
            <textarea name="comment" placeholder="enter a comment..."></textarea>
        </div>
        <input type="submit" class="new-comment" href="#" value="Comment" />
        <div class="comment" id="comments">
            {%if comments|length == 0%}
                <br />
                <br />
                <h5>No comment yet, be the first one to leave a comment!</h5>
            {%endif%}
            {% for comment in comments%}
                <hr />
                <div class="row name">
                    <b>{{comment.username}}</b>
                    {% if comment.userid|string() == user.key().id()|string() %}
                        <a href="/{{content.key().id()}}/{{comment.key().id()}}/delete"> 🗑️ </a>
                        <a href="/{{content.key().id()}}/{{comment.key().id()}}/edit"> ✏️ </a>
                    {% endif %}
                </div>
                <div class="row">
                    {{comment.comment}}
                </div>
            {% endfor %}
        </div>
    </form>
    {% endblock %}
