<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
</head>
<body>
    <nav id="mySidenav" class="sidenav" onmouseover="openNav()" onmouseout="closeNav()">
        <h2>Legend</h2>
        <p>👤 - Posted by you</p>
        <p>👥 - Posted by others</p>
        <p>✏️ - Edit</p>
        <p>⏰ - Date and Time</p>
        <p>💬 - Comment</p>
        <p>💖 - Liked by you</p>
        <p>💔 - Not yet liked by you</p>
    </nav>
    <span class="legend" onmouseover="openNav()" onmouseout="closeNav()">Legend</span>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <header class="container box-shadow">
        <div class="row">
            <div class="col-lg-2">
                <img class="img-responsive center-block logo" src="/static/img/logo.png"/>
            </div>
            <div class="col-lg-7">
                <h1 class="title">Multi User Blog</h1>
            </div>
            <div class="col-lg-3">
                {% if validUser %}
                    <div class="message">
                        <b class="welcome">Welcome, {{user.username}}</b>
                        <br />
                        <a class="logout" href="/logout">logout</a>
                    </div>
                {% endif%}
            </div>
        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="container">
        <div class="row">
            <p class="col-lg-12"> &copy; Madhu Bhargav &nbsp; 📧 mbhargav294@gmail.com</p>
        </div>
    </footer>
</body>
</html>
