<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" value="{{ usrname }}"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            {% if not validData %}
                <h4 style="color: red">*Username and password did not match</h4>
            {% endif %}
            <input type="submit" name="submit">
        </form>
    </body>
</html
